* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

.container {
  width: min(100% - 40px, 1110px);

  margin-inline: auto;
}
.container--sm {
  width: min(100% - 40px, 540px);
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.header {
  padding-top: 66px;
  padding-bottom: 100px;

  background-color: #eeeff1;
}

.navbar {
  margin-bottom: 134px;
}
.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-column-gap: 43px;
     -moz-column-gap: 43px;
          column-gap: 43px;
}
.navbar__link {
  display: block;

  padding: 10px 0;

  letter-spacing: 0.1em;

  color: #000000;

  line-height: 1.64;
}
.navbar__link:hover {
  color: #34547a;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  max-width: 540px;

  gap: 30px;
}
.content_title {
  margin: 0 0 4px;

  color: #000000;

  font-size: 3rem;
  font-weight: 500;
  line-height: 1.64;
}
.content__description {
  margin-bottom: 26px;

  color: #727272;

  line-height: 1.64;
}
.content__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  min-width: 225px;
  min-height: 65px;
  padding: 0.5em;

  letter-spacing: 0.1em;

  color: #ffffff;
  background-color: #34547a;
}

.section {
  padding-top: 112px;
  padding-bottom: 90px;

  text-align: center;

  background-color: #f9f9f9;
}
.section__title {
  margin-bottom: 39px;

  color: #000000;

  font-size: 2rem;
  font-weight: 500;
}
.section__description {
  text-align: center;

  color: #727272;

  font-weight: 400;
  line-height: 1.64;
}

.experience {
  padding: 100px 0 88px;

  color: #ffffff;
  background-color: #34547a;
}
.experience__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  gap: 20px;
}
.experience__container .experience-item {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}
.experience .experience-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  gap: 20px;
}
.experience .experience-item__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  gap: 7px;
}
.experience .experience-item__number {
  font-size: 1.3125rem;
  font-weight: 500;
}
.experience .experience-item__img {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.video {
  padding-bottom: 100px;

  background-color: #f9f9f9;
}
.video__iframe {
  width: 100%;
  height: 600px;

  border: 0;
}

.footer {
  padding: 40px 0;

  color: #ffffff;
  background-color: #34547a;
}
.footer_name {
  font-size: 1.3125rem;
  font-weight: 500;
}
.footer_copy {
  color: #ffffff;

  font-size: 0.8125rem;
  line-height: 1.64;
}

html {
  line-height: 1.15;

  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  margin: 0.67em 0;

  font-size: 2em;
}

hr {
  overflow: visible;

  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
          text-decoration: underline;
          text-decoration: underline dotted;

  border-bottom: none;

  -webkit-text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;

  vertical-align: baseline;

  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;

  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;

  border-style: none;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  display: table;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  padding: 0;

  white-space: normal;

  color: inherit;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;

  -webkit-appearance: textfield;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;

  -webkit-appearance: button;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@media (max-width: 992px) {
  .experience__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 991.8px) {
  .navbar {
    margin-bottom: 50px;
  }
  .content_title {
    line-height: 1.2;
  }
  .experience .experience-item {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
  .video__iframe {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .navbar__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .content {
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;

    text-align: center;
  }
}
