:root {
  --color-black: #000000;
  --color-light-grey: #eeeff1;
  --color-white: #ffffff;

  --color-primary: #34547a;
  --color-secondary: #727272;
  --color-tertiary: #f9f9f9;

  --font-size: 16px;
  --font-family: "Roboto", sans-serif;
  --line-height-lg: 1.64;
  --line-height-sm: 1.2;
  --letter-spacing: 0.1em;

  --container-primary: 1110px;
  --container-secondary: 540px;
  --gap: 20px;
  --gap-sm: calc(var(--gap) / 2);
  --gap-lg: calc(var(--gap) * 2);
}

* {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: var(--line-height-sm);
}

a {
  text-decoration: none;
}

.header {
  padding-top: 66px;
  padding-bottom: 100px;
  background-color: var(--color-light-grey);
  min-width: 700px;
}

.container {
  width: min(100% - var(--gap-lg), var(--container-primary));
  margin-inline: auto;
}

.container--sm {
  width: min(100% - var(--gap-lg), var(--container-secondary));
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navbar {
  margin-bottom: 134px;
}

.navbar__list {
  display: flex;
  gap: 42px;
}

.navbar__link {
  color: var(--color-black);
  line-height: var(--line-height-lg);
  letter-spacing: var(--letter-spacing);
  padding: var(--gap-sm) 0;
  display: block;
}

.navbar__link:hover {
  color: var(--color-primary);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  max-width: 540px;
}

.content_title {
  color: var(--color-black);
  font-size: 3rem;
  font-weight: 500;
  line-height: var(--line-height-lg);
  margin: 0 0 4px;
}

.content__description {
  color: var(--color-secondary);
  line-height: var(--line-height-lg);
  margin-bottom: 26px;
}

.content__link {
  color: var(--color-white);
  letter-spacing: var(--letter-spacing);
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  min-width: 225px;
  min-height: 65px;
}

.section {
  padding-top: 112px;
  padding-bottom: 90px;
  background-color: var(--color-tertiary);
}

.section__title {
  color: var(--color-black);
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 39px;
}

.section__description {
  color: var(--color-secondary);
  text-align: center;
  font-weight: 400;
  line-height: var(--line-height-lg);
}

.experience {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 100px 0 88px;
}

.experience__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gap);
}

.experience-item {
  display: flex;
  gap: var(--gap);
}

.experience-item__description {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.experience-item__number {
  font-size: 1.3125rem;
  font-weight: 500;
}

.experience-item__img {
  order: -1;
}

.video {
  padding-bottom: 100px;
  background-color: var(--color-tertiary);
}

.video__iframe {
  height: 600px;
  width: 100%;
  border: 0;
}

.footer {
  background-color: var(--color-primary);
  padding: 40px 0;
  color: var(--color-white);
}

.footer_name {
  font-size: 1.3125rem;
  font-weight: 500;
}

.footer_copy {
  color: var(--color-white);
  font-size: 0.8125rem;
  line-height: var(--line-height-lg);
}
