@use "./index" as *;

@mixin text-center {
  text-align: center;
}

.section {
  padding-top: 112px;
  padding-bottom: 90px;
  background-color: $color-tertiary;

  @include text-center;

  &__title {
    color: $color-black;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 39px;
  }

  &__description {
    color: $color-secondary;
    font-weight: 400;
    line-height: $line-height-lg;
    @include text-center;
  }
}
