@use "./index" as *;

.section {
  padding-top: 112px;
  padding-bottom: 90px;
  background-color: $color-tertiary;

  &__title {
    color: $color-black;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 39px;
  }

  &__description {
    color: $color-secondary;
    text-align: center;
    font-weight: 400;
    line-height: $line-height-lg;
  }
}
